.centered {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.clock{
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}
img.resize{
    max-height:750px;
    max-width: 100%;
}
